.create-page {
  height: 100vh;
  background: #0f0f1a;
  color: white;
}

.create-post-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  border-bottom: 1px solid #333;
  background: #0f0f1a;
}

.cancel-icon {
  font-size: 24px;
  cursor: pointer;
}

.share-btn {
  background: none;
  border: none;
  color: #4da6ff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  width: 90px;
  margin: 10px;
}
.share-btn:disabled{
  opacity:0.5;
  cursor:not-allowed;
}

.create-post-body {
  margin-top: 70px;
  padding: 20px;
}

.create-post-body textarea {
  width: 100%;
  height: 150px;

  background: transparent;
  border: none;

  color: white;
  font-size: 18px;

  outline: none;
  resize: none;
}