.profile-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(10, 10, 10);
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  animation: fadeDown 0.5s ease;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-header h2 {
  margin: 0;
  font-size: 50px;
  color: white;
}

.profile-header p {
  text-align: left;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 500;
}


.profile-posts{
  width: 100%;
  padding-top: 190px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: black;
}